# Discord Bot Configuration
DISCORD_TOKEN=
CLIENT_ID=

# Google Sheets Configuration
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=

# Harbor Registry Configuration (Derived from REMOTE_HOST:80)
HARBOR_USERNAME=
HARBOR_PASSWORD=

# Remote Deployment Configuration (CI/CD)
REMOTE_HOST=
REMOTE_PORT=22
REMOTE_USERNAME=
SSH_PRIVATE_KEY=

# Bot Runtime Features
NICKNAME=
USER_ID=
USER_TOKEN=
