name: Build and Push Docker Image to Harbor

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build Docker image
      run:  >
        docker build
        --build-arg DISCORD_TOKEN=${{ secrets.DISCORD_TOKEN }}
        --build-arg CLIENT_ID=${{ secrets.CLIENT_ID }}
        --build-arg GOOGLE_SERVICE_ACCOUNT_EMAIL=${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        --build-arg GOOGLE_PRIVATE_KEY='${{ secrets.GOOGLE_PRIVATE_KEY }}'
        --build-arg GOOGLE_SHEET_ID='${{ secrets.GOOGLE_SHEET_ID }}'
        -t ${{ secrets.HARBOR_REGISTRY_URL }}/discord-monitor/monitor:latest .

    - name: Insecure Docker Repository
      run: |
        echo '{
          "insecure-registries": ["${{ secrets.HARBOR_REGISTRY_URL }}"]
        }' | sudo tee /etc/docker/daemon.json > /dev/null
        sudo systemctl restart docker

    - name: Log in to Harbor Registry
      uses: docker/login-action@v3
      with:
        registry: http://${{ secrets.HARBOR_REGISTRY_URL }}
        username: ${{ secrets.HARBOR_USERNAME }}
        password: ${{ secrets.HARBOR_PASSWORD }}

    - name: Push Docker image to Harbor
      run: docker push ${{ secrets.HARBOR_REGISTRY_URL }}/discord-monitor/monitor:latest
